<%- include("header") -%>

<!-- Tu jest EJS  layout dla nagłówka -->
  <div class="box" id="heading">
    <h1>It's a <%= listTitle %>!</h1>
  </div>

  <div class="box">
    <% for (var i = 0; i < newListItems.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p><%= newListItems[i] %></p>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="next_item" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value= <%= listTitle %>>+</button>
    </form>
  </div>

<!-- Tu jest EJS  layout dla stopki -->
<%- include("footer") -%>

<!-- Jakieś komentarze i próby z wcześniejszych lekcji: -->


    <!-- odwołujemy się tu do ejs i wstawiamy zmienną  -->
    <!-- <h1>It's a <%= listTitle %>!</h1> -->

    <!-- Scriptlet: Inny tag, umożliwiający nam małe control flow <% %>, wszystkie części scriptu muszą być w nim i działa po kolei -->
    <!-- Ale generalnie nie jest to polecane, lepiej logikę robić na serwerze -->


    <!-- Tu jakaś zabawa z controlflow -->

    <!-- <% if (listTitle === "Saturday" || listTitle === "Sunday") { %>
    <h1 style="color:purple"><%= listTitle %> ToDo List</h1>
  <% } else { %>
    <h1 style="color:blue"><%= listTitle %> ToDo List</h1>
  <% } %> -->
